@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Croissant+One&family=Montserrat:ital,wght@0,300;1,300&family=Oswald:wght@300&family=Poppins&family=Sacramento&display=swap');


body {
    background-color: aqua;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 1000px;

}


