/* Font */
@font-face {
    font-family: 'Kaushan Script';
    src: url('KaushanScript-Regular.otf') format('opentype');
}

/* Style Utama */
body {
    font: 18px/36px 'Kaushan Script', 'Arial Narrow', arial, sans-serif;
    background-image: url(bgb.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    width: 50%;
    margin: auto;    
    border-radius: 20px;
    border: 1px solid white;
    display: flex;   
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,.3);
}

h1 {
    height: 100px;
    margin-top: 300px;
    font-size: 70px;
    margin-bottom: 50px 0;
    text-align: center;
    text-shadow: 3px 0 2px white;
}

.foto {
    padding: 15px;
}

.foto li {
    width: 150px;
    height: 150px;
    overflow: hidden;
    float: left;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 50%;
    margin-right: 30px;
}

.foto .gr {
    border-radius: 50%; 
}

.foto li span {
    border-radius: 50%;
    display: block;
    width: 150px;
    height: 150px;
    background-color: rgba(200,200,200,.3);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 150px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: .3s;
}

.foto li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}

.gr {
    height: 150px;
    width: 150px;
}


/* overlay */
.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
    z-index: 9999;
    transition: .3s;
    padding: 100px 0;
    text-align: center;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.7);
}

.overlay img {
    max-height: 100%;
    box-shadow: 3px 2px 7px rgba(255,255,255,.5);
} 

.overlay .close {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -29px;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    line-height: 15px;
    padding: 7px;
    opacity: 0;
}

.overlay:target img {
    animation: fadeAjah 2s;
}

.overlay:target .close {
    animation: slideDownFade .5s .5s forwards;
}

.overlay:target .next,
.overlay:target .prev {
    animation: fadeAjah .5s .5s forwards;
}


/* Navigasi */
.next, .prev {
    width: 57px;
    height: 93px;
    background-image: url(Next.png);
    position: absolute;
    text-indent: -9999px;
    top: 40%;
    margin-left: 40px;
    opacity: 0;
}

.prev {
    background-image: url(Prev.png);
    margin-left: -100px;
}


/* animasi */
@keyframes fadeAjah{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes zoomDanFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}